
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}
{% block title %}Evenets  Page{% endblock %}
{% block main %}



<main class="main">
    
    <div class="event news">
        <div class="container-fluid">
            <img class="event-wave" src="{% static 'img/event-wave.png' %}">
            <div class="row">
                <div class="col-md-5">
                    <p class="sub-title">{{page.heading}}</p>

                    {% for event in events%}
                      {% if forloop.last %}
                    <h2 class="latest-title">{{event.heading}}</h2>
                    <p class="date">{{ event.event_date|date:"F jS, Y" }} | {{ event.event_date|date:"l" }}</p>

                    <a class="read-more mobile-hide" href="{% pageurl event %}">
                        {{page.button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                </div>
                <div class="col-md-7">
                    <div class="featured-img">
                        {% image event.event_bg_image width-1024 as latestevent %}

                       <img src="{{latestevent.url}}" alt="" class="img-fluid" />
                       <a class="read-more mobile-show" href="{% pageurl event %}">
                        {{page.button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                    </div>
                </div>
                {% endif%}
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="meeting-agendas recent-posts all-events">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order" style="background-color: #c8d6d8;">
                        <div class="grid-list">
                        <div class="all-meetings">
                            <ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                <li data-filter="*" class="filter-active grid-type">All events</li>
                                <li data-filter=".filter-upcoming" class="grid-type">Upcoming</li>
                                <li data-filter=".filter-past" class="grid-type">Past</li>
                                <li data-filter=".filter-year" class="grid-type">2023</li>
                            </ul>
                        </div>
                        <div class="all-meetings grid">
                            <ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                <li data-filter="*" class="grid-type"><img src="{% static 'img/grid.svg' %}"></li>
                                <li data-filter=".filter-list" class="list-type"><img src="{% static 'img/list.svg' %}"></li>
                            </ul>
                        </div>
                        </div>
                        <div class="row isotope-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1750.38px;">

                           {% for event in events%}
                            <div class="col-lg-4 col-md-4 portfolio-item isotope-item filter-upcoming" style="position: absolute; left: 0px; top: 0px;">
                            <article>
                                <div class="post-img">
                                    {% image event.event_bg_image width-1024 as eventimg %}
                                    <img src="{{eventimg.url}}" alt="" class="img-fluid" />
                                    <a class="read-more" href="{% pageurl event %}"> Details <img src="{% static 'img/arrow.svg' %}" /></a>
                                </div>
                                    <h2 class="title">
                                    <a href="">{{event.heading}}</a>
                                    </h2>
                                    <p class="event-date">{{ event.event_date|date:"F jS, Y" }}</p>
                            </article>

                            </div>

                        {% endfor %}
                        </div>
                        
                        <div class="row filter-list isotope-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1750.38px;">
                            <div class="col-md-8">
                                <div class="calender-area">
                                <h2>Calender Use Here</h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="upcoming-events list">
                                    <h2>Upcoming Events</h2>
                                    {% for event in events %}
                                        <div class="metting-info">
                                            <p class="upcoming-event">{{ event.event_date|date:"F jS, Y" }}</p>  
                                            <h4><a href="">{{event.heading}}</a></h4>
                                        </div>
                                    {% endfor %}
                      </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="submit-photo hold-event ">
        <div class="container-fluid" style="background-image: url({% static 'img/quick-bg.png' %});">
            <div class="row">
                <div class="col-md-4">
                    {% image page.bottom_image_one width-1024 as btm_one_image %}
                    <img src="{{btm_one_image.url}}" />
                </div>
                <div class="col-md-4">
                    <div class="submit-img">
                        <h2>
                            <h2>{{page.bottom_heading}}</h2>
                        </h2>

                       <a class="read-more" href="{{page.bottom_link_page.url}}" style="width: 250px; justify-content: space-between; ">{{page.bottom_button_text}} 
                        <img src="{% static 'img/arrow.svg' %}"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    {% image page.bottom_image_two width-1024 as btm_two_image %}
                    <img class="mobile-hide" src="{{btm_two_image.url}}" />
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .portfolio-item.isotope-item {
        display: block;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $(".list-type").click(function(){
        $(".filter-list").addClass("active-list");
    });
});

 $(document).ready(function(){
    $(".grid-type").click(function(){
        $(".filter-list").removeClass("active-list");
    });
});
</script>



<div class="container">
 {% include 'includes/body.html' %}
</div>
{% endblock %}
