
        
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}


{% block title %}Election Page{% endblock %}
{% block main %}

  
  <main class="main">
      
      <div class="elections-date">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <p>{{page.notice_text}}</p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="election">
          <div class="container-fluid">
              
              <p class="sub-title">{{page.page_name}}</p>
              <div class="row">
                  <div class="col-md-6">
                      <h2>{{page.heading}}</h2>
                  </div>
                  <div class="col-md-6">
                      <p>{{page.description}} </p>
                  </div>
              </div>
          </div>
      </div>


      <div class="development-officer main-election">
        <img class="big-wave mobile-show" src="{% static 'img/mobile-wave-2.png' %}">
        <img class="big-wave mobile-hide" src="{%static 'img/big-wave.png' %}">
       <div class="container-fluid">
           <img class="yellow-u" src="{%static 'img/elections/yellow-u.svg' %}">
           <div class="row">
                {% if elections_users.live %}
                    
                    {% for user in elections_users %}
                        <div class="col-md-12">
                            <div class="nominess">
                                <h2>{{user.heading}}</h2>
                                <p>{{user.party_name}}</p>
                                <!--h3>Nominees</h3-->
                                <div class="img-box">
                                    {% for person in user.election_page_person.all %}
                                    <div class="nominess-box" data-bs-toggle="modal" data-bs-target="#{{person.id}}">
                                        {% image person.image width-1024 as perimg %}
                                        <img src="{{perimg.url}}">
                                        <img class="large-pop" src="{% static 'img/large-pop.svg' %}">
                                        <h4 class="name">{{person.name}}</h4>
                                        <p class="designation">{{person.designation}}</p>
                                        <p class="re-election designation">{{person.re_election_designation}}</p>
                                        
                                            <!-- The Modal -->
                                        <div class="modal" id="{{person.id}}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                        </button>
                                                <div class="row">
                                                    <div class="img-side">
                                                        <img src="{{perimg.url}}">
                                                    </div>
                                                    <div class="detail-side">
                                                        <div class="elected-details">
                                                        <h4 class="name">{{person.name}}</h4>
                                                        <p class="designation">{{person.designation}}</p>
                                                        <p class="description">{{person.description}}</p>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor %}
                                    
                                </div>
                                <a class="dscrptn" href="">View Description +</a>
                                <a class="read-more" href="">Run for Position <img src="{% static 'img/arrow-up.svg' %}"></a>
                            </div>
                        </div>
                        
                    {% endfor %}
                {% endif %}
                    
        
        
           </div>
           <img class="green-path" src="{% static 'img/green-upath.svg' %}">
       </div>
     </div>
   
      
    <!--election ballot-->
      
      <div class="election ballot">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-5">
                      <h2>{{page.nomination_heading}}</h2>
                      
                      <a class="read-more mobile-hide" href="{{page.button_text_three.url}}">{{page.button_text_three}} <img src="{% static 'img/arrow-up.svg' %}"></a>
                  </div>
                  <div class="col-md-7">
                      <div class="img-box">
                        {% for user in elections_users %}
                            {% for person in user.election_page_person.all %}
                              <div class="nominess-box">
                                {% image person.image width-1024 as perimg %}
                                  <img src="{{perimg.url}}">
                                  <h4 class="name">{{person.name}}</h4>
                                  <p class="designation">{{person.designation}}</p>
                              </div>

                            {% endfor %}
                            {% endfor %}
                          </div>
                          
                          <a class="read-more mobile-show" href="">Get on Ballot <img src="{% static 'img/arrow-up.svg' %}"></a>
                  </div>
              </div>
              <img class="polygon-icon" src="{% static 'img/Polygon.svg' %}">
          </div>
      </div>
      
  </main>
  
 <style>
    body {
        background-color: #054651;
    }
    .footer{
        padding-top:0px;
    }
 </style>
  

{% endblock %}
{% block extra_js %}
<script src="{% static 'election.js' %}"></script>


<div class="container">
   {% include 'includes/body.html' %}
 </div> 


{% endblock %}