
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}

{% block title %}Histories Page{% endblock %} {% block main %}

<main class="main">
  <div class="history-search">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form class="d-flex">
            <label>Search</label>
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              <i class="material-icons">search</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="history-of-harmony">
    <div class="container-fluid">
      <div class="row">
        <div clas="col-md-12">
          <h2>History of Harmony</h2>
          <div class="tab">
            <ul>
              {% for year in page.history_page_details.all%}

              <li
                class="tablinks active"
                onclick="openService(event, '{{year.history_year}}')"
                id="defaultOpen" >
                <span>{{year.history_year}}</span>
              </li>
              {%endfor%}
            </ul>
          </div>
          <div class="history-right">
            {% for year in page.history_page_details.all%}


            <div id="{{year.history_year}}" class="tabcontent">
              <div class="history-top-content">
                <div class="row">
                  <div class="col-md-12">
                    <h3>{{year.short_heading}}</h3>
                    <p>{{year.description}}
                    </p>
                  </div>
                </div>
                <div class="history-bottom-content">

                {% for content in year.history_contents.all%}
                  <div class="row">
                    <div class="image-side">
                      {% image content.image  width-1024 as contentimg%}
                    
                        
                      <img class="" src="{{contentimg.url}}" />
                    </div>
                    <div class="content-side">
                      <div class="history-right-side">
                        <h2>{{content.date}}</h2>
                        <p class="color">
                          {{content.content_short_description}}
   
                        </p>
                        <p>
                         {{content.content_full_description}}
                        </p>
                      </div>
                    </div>
                  </div>
                  {%endfor%}

              
                </div>
              </div>
            </div>
            {%endfor%}
          
          </div>



        </div>
      </div>
    </div>
  </div>

  <div class="submit-photo hold-event">
    <div
      class="container-fluid"
      style="
        background-image: url({%static 'img/quick-bg.png' %});
        background-color: #054651;
      "
    >
      <img class="green-u" src="{% static 'img/green-upath.svg' %}" />
      <div class="row">
        <div class="col-md-4">
          {% image page.bottom_image_one width-1024 as leftimg%}
          <img src="{{leftimg.url}}" />
        </div>
        <div class="col-md-4">
          <div class="submit-img">
            <h2>{{page.bottom_heading}}</h2>
            <a class="read-more share-btn" href="{{page.bottom_link_page.url}}">
              {{page.bottom_button_text}}
              <img src="{% static 'img/arrow.svg' %}"
            /></a>
          </div>
        </div>
        
       
        <div class="col-md-4 second-img">
          {% image page.bottom_image_two width-1024 as rightimg %}
          <img src="{{rightimg.url}}" />
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  function openService(evt, serviceName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(serviceName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();
</script>

<div class="container">{% include 'includes/body.html' %}</div>
{% endblock %}
