
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}

{% block title %}Histories Page{% endblock %} {% block main %}

<main class="main">
  <div class="history-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="d-flex" method="get" action="">
                    <label>Search</label>
                    <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search" 
                      value="{{ search_query }}">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                  </form>
            </div>
        </div>
    </div>
</div>
  <div class="history-of-harmony">
    <div class="container-fluid">
      <div class="row">
        <div clas="col-md-12">
          <h2>{{page.heading}}</h2>
          <div class="tab">
            <ul>
              {% for tag in tags %}
              <a href="?tag={{ tag.slug }}">
                <li><a href="?tag={{ tag.slug }}">{{ tag.name }}</a></li>
                {% comment %} <li
                  class="tablinks {% if forloop.first %}active{% endif %}"
                  onclick="openService(event,'{{tag.id}}')"
                  id="{% if forloop.first %}defaultOpen{%endif %}" >
                  <span>{{tag.name}}</span>

                </li> {% endcomment %}
                </a>
              {%endfor%}
            </ul>
          </div>
          <div class="history-right">
          {% for history  in histories %}
            <div id="{{tag.id}}" class="tabcontent">
              <div class="history-top-content">
                <div class="row">
                  <div class="col-md-12">
                   
                    </p>
                  </div>
                </div>
                <div class="history-bottom-content">

                  <div class="row">
                    <div class="image-side">
                      {% image history.image  width-1024 as historyimg %}
                    
                      <img class="" src="{{historyimg.url}}" />
                    </div>
                    <div class="content-side">
                      <div class="history-right-side">
                        <h2>{{history.date}}</h2>
                        <p class="color">
                          <a href="{% pageurl history %}">{{history.short_description}} </a>
   
                        </p>
                        <p>
                         {{history.full_description}}
                        </p>
                      </div>
                    </div>
                  </div>
               

              
                </div>
              </div>
            </div>
            {%endfor%}
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-photo hold-event">
 
    <div
      class="container-fluid"
      style="
        background-image: url({%static 'img/quick-bg.png' %});
        background-color: #054651;">
      <img class="green-u" src="{% static 'img/green-upath.svg' %}" />
      <div class="row">
       
        <div class="col-md-4">
          {% for img in page.page_footer_images.all %}
              {% image img.image width-1024 as footerimg%}
                  {% if forloop.counter <= 2 %}
                  <img src="{{footerimg.url}}" />
                  {%endif %}
        
          {% endfor %}
  
        </div>
      
        <div class="col-md-4">
          <div class="submit-img">
            <h2>{{page.footer_heading}}</h2>
            <a class="read-more share-btn" href="{{page.footer_link_page.url}}">
              {{page.footer_button_text}}
              <img src="{% static 'img/arrow.svg' %}"
            /></a>
          </div>
        </div>
        
        <div class="col-md-4 second-img">
          {% for img in page.page_footer_images.all %}
            {% image img.image width-1024 as footerimg%}
            {% if forloop.counter > 2 and forloop.counter <= 4 %}

              <img src="{{footerimg.url}}" />
            {%endif%}
          {% endfor %}
         
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  function openService(evt, serviceName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(serviceName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();
</script>

<div class="container">{% include 'includes/body.html' %}</div>
{% endblock %}
