
{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize crispy_forms_tags %}
{% block title %}Contact Page{% endblock %}

{% block main %}


<main class="main">
    <div class="contact-us-page">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs" id="contact-tab" role="tablist">
                    {% for contact  in  page.contactform_details.all %}
    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if forloop.first %}active{% endif %}" id="contact-tab-{{ forloop.counter }}" data-bs-toggle="tab" 
                        data-bs-target="#contact-{{ forloop.counter }}" 
                        type="button" role="tab" aria-controls="contact-{{ forloop.counter }}" 
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                            {{ contact.contact_form_heading }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.576" height="15.405" viewBox="0 0 14.576 15.405">
                                <g id="Icon_feather-arrow-up" data-name="Icon feather-arrow-up" transform="translate(13.576 1.414) rotate(90)">
                                    <path id="Path_4" d="M0,12.576V0" transform="translate(6.288 0)" fill="none" stroke="#054651" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    <path id="Path_5" d="M0,6.288,6.288,0l6.288,6.288" transform="translate(0 0)" fill="none" stroke="#054651" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                </g>
                            </svg>
                        </button>

                       
                    </li>
                    {% endfor %}
                
                </ul>
                
                <div class="tab-content" id="contact-tab-contnet">
                    {% for contact in  page.contactform_details.all  %}
                  
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
                    id="contact-{{ forloop.counter }}"
                    role="tabpanel" 
                    aria-labelledby="contact-tab-{{ forloop.counter }}">
                
                        <div class="row">
                            <div class="col-left">
                                <div class="contact-side">
                                    <h2>{{contact.heading}}</h2>
                                    <p>
                                        {{contact.description}}
                                    </p>
                                </div>
                                {% comment %} <div class="contact-details mobile-hide">
                                    <h2>{{contact.contact_heading}}</h2>
                                    <ul>
                                        <li><a href="tel:7045462339">{{contact.contact_number}}</a></li>
                                        <li>
                                            {{contact.contact_address}}
                                        </li>
                                    </ul>
                                </div> {% endcomment %}
                            </div>
                          
                            <div class="col-right">
                                <div class="form-side">
                                    <form method="post" enctype="multipart/form-data" >
                                        <div class="row">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <div class="col-12 submit-btn">
                                                <button class="btn btn-primary" type="Send message">Send message 
                                                    <img src="{% static 'img/arrow.svg' %}" /></button>
                                            </div>
                                        </div>
                                    </form>
                                        
                


                                    <div class="contact-details mobile-show">
                                        <h2>Quick Contact</h2>
                                        <ul>
                                            <li><a href="tel:7045462339">704-546-2339</a></li>
                                            <li>
                                                3389 Harmony Hwy <br />
                                                Harmony, NC 28634
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                      {% endfor %}
                   
                   
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    body {
        background-color: #054651;
    }
    #div1,#div2,#div3,#div4,#div5,#div6{
  display: none;
}
    p#text {
    display: none;
}
    .fileUploadWrap,
    .upload__btn {
        position: relative;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .fileUploadWrap input[type="file"],
    .upload__btn input[type="file"] {
        position: absolute;
        height: 100px;
        top: 0;
        opacity: 0;
    }
    .fileUploadWrap p.fileName,
    .upload__btn p.fileName {
        margin-bottom: 0;
        font-size: 26px;
        line-height: 34px;
        font-family: "satoshi";
        font-weight: 500;
        color: #fff;
    }
    p.img-name {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 34px;
        font-family: "satoshi";
        color: #fff;
        opacity: 35%;
    }
    input[type="file"] {
        display: block;
    }
    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }
    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .remove:hover {
        background: white;
        color: black;
    }
    .upload__img-wrap {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    .upload__img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }
    .img-bg {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 34px;
        font-family: "satoshi";
        color: #ffffff70;
    }
    .upload__img-box {
        width: max-content;
    }
</style>
{% comment %} 
<script>
    $(document).on("change", ".fileUploadWrap input[type='file']", function () {
        if ($(this).val()) {
            var filename = $(this).val().split("\\");

            filename = filename[filename.length - 1];

            $(".img-name").text(filename);
        }
    });
</script>

<script>
    jQuery(document).ready(function () {
        ImgUpload();
    });

    function ImgUpload() {
        var imgWrap = "";
        var imgArray = [];

        $(".upload__inputfile").each(function () {
            $(this).on("change", function (e) {
                imgWrap = $(this).closest(".upload__box").find(".upload__img-wrap");
                var maxLength = $(this).attr("data-max_length");

                var files = e.target.files;
                var filesArr = Array.prototype.slice.call(files);
                var iterator = 0;
                filesArr.forEach(function (f, index) {
                    if (!f.type.match("image.*")) {
                        return;
                    }

                    if (imgArray.length > maxLength) {
                        return false;
                    } else {
                        var len = 0;
                        for (var i = 0; i < imgArray.length; i++) {
                            if (imgArray[i] !== undefined) {
                                len++;
                            }
                        }
                        if (len > maxLength) {
                            return false;
                        } else {
                            imgArray.push(f);

                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var html = "<div class='upload__img-box'><div class='img-bg'>" + f.name + "<div class='upload__img-close bi bi-x-circle-fill'></div></div></div>";
                                imgWrap.append(html);
                                iterator++;
                            };
                            reader.readAsDataURL(f);
                        }
                    }
                });
            });
        });

        $("body").on("click", ".upload__img-close", function (e) {
            var file = $(this).parent().data("file");
            for (var i = 0; i < imgArray.length; i++) {
                if (imgArray[i].name === file) {
                    imgArray.splice(i, 1);
                    break;
                }
            }
            $(this).parent().parent().remove();
        });
    }
</script>
<script>
    $("input:checkbox").on("click", function () {
        var $box = $(this);
        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
</script>

<script>
$("[id^='radio']").on("click", function() {
  var divElements = $("[class^=radio]")
  var radioBtn = this.id;
  divElements.each(function(index, element) {
    if (element.classList.contains(radioBtn)) {
      $(element).show();
    } else {
      $(element).hide();
    }
  })
});
</script> {% endcomment %}






<div class="container">
 {% include 'includes/body.html' %}
</div>
{% endblock %}