{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}
{% block title %}Business Development Page{% endblock %}

{% block main %}

<main class="main" style="background-color:#054651;">
    <div class="business-slider">
     <div id="business-slider-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for slide in page.buginess_page_slide.all %}
            <div class="carousel-item active">
                {% image slide.image width-1024 as slideimage %}
                <img src="{{slideimage.url}}" class="d-block w-100" alt="" />
                <div class="carousel-caption d-md-block">
                     <p>{{slide.title}}</p>
                     <h5>{{slide.heading}}</h5>
                   
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#business-slider-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <img src="{%static 'img/business-development/feather-arrow-up.png' %}"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#business-slider-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <img src="{% static 'img/business-development/feather-arrow-up.png' %}"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>

   <div class="why-do">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2>
                   {{page.business_heading}}
                </h2>
            </div>
            <div class="col-md-9">
                {% for business in page.buginess_page_criteria.all %}

                <ul class="portfolio-filters nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link text-primary fw-semibold active position-relative"
                            id="development"
                            data-bs-toggle="pill"
                            data-bs-target="#{{business.id}}"
                            type="button"
                            role="tab"
                            aria-controls="pills-development"
                            aria-selected="true"
                        > 
                           {% image  business.image width-1024 as businessicon%}
                             
                            <img src="{{businessicon.url}}"/> {{business.title}}
                        </button>
                    </li>
                    {% comment %} <li class="nav-item" role="presentation">
                        <button
                            class="nav-link text-primary fw-semibold position-relative"
                            id="infistructure"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-infistructure"
                            type="button"
                            role="tab"
                            aria-controls="pills-infistructure"
                            aria-selected="false"
                        >
                            <img src="assets/img/business-development/infistructure.svg" /> Sewer + Water Infistructure
                        </button>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-semibold position-relative" id="support" data-bs-toggle="pill" data-bs-target="#pills-support" type="button" role="tab" aria-controls="pills-support" aria-selected="false">
                            <img src="assets/img/business-development/support.svg" /> Community Support
                        </button>
                    </li> {% endcomment %}
                    {% comment %} <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-semibold position-relative" id="located" data-bs-toggle="pill" data-bs-target="#pills-located" type="button" role="tab" aria-controls="pills-located" aria-selected="false">
                            <img src="assets/img/business-development/located.svg" /> Centrally Located
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-semibold position-relative" id="number" data-bs-toggle="pill" data-bs-target="#pills-number" type="button" role="tab" aria-controls="pills-number" aria-selected="false">
                            <img src="assets/img/business-development/menu.svg" /> Sub menu option number 5
                        </button>
                    </li> {% endcomment %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="{{business.id}}" role="tabpanel" aria-labelledby="pills-development-tab">
                        <p>
                            {{business.description}}
                        </p>
                        {% comment %} <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p> {% endcomment %}
                    </div>
                    {% comment %} <div class="tab-pane fade" id="pills-infistructure" role="tabpanel" aria-labelledby="pills-infistructure-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                    </div> {% endcomment %}
                    {% comment %} <div class="tab-pane fade" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-located" role="tabpanel" aria-labelledby="pills-located-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pills-number" role="tabpanel" aria-labelledby="pills-number-tab">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in mollis nunc sed id semper risus. Dictum non consectetur a erat nam at. Odio ut
                            sem nulla pharetra diam sit amet nisl. Nec tincidunt praesent semper feugiat nibh sed. Vel facilisis volutpat est velit egestas dui id. Amet mattis vulputate enim nulla.
                        </p>
                    </div> {% endcomment %}
                </div>

            {% endfor %}
            </div>
        </div>
        
        <div class="stats-counter">
             <div class="row">

                <div class="stats-item d-flex">
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="{{page.growth_data_number_one}}" data-purecounter-duration="1" class="purecounter"></span> <span>k</span>
                    <p>{{page.growth_data_text_one}}</p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="stats-item d-flex">
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="{{page.growth_data_number_two}}" data-purecounter-duration="1" class="purecounter"> </span> <span>%</span>
                    <p>{{page.growth_data_text_two}}</p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="stats-item d-flex">
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="{{page.growth_data_number_three}}" data-purecounter-duration="1" class="purecounter"> </span> <span>%</span>
                    <p>{{page.growth_data_text_two}}</p>
                  </div>
                </div><!-- End Stats Item -->


            </div>
        </div>



        
        
        <div class="helpful-resources faq">
            <h2>{{page.resource_heading}}</h2>
            
        <div class="faq-container">
            {%for faq in page.buginess_page_faq.all %}
            <div class="faq-item">
                <h3>{{faq.heading}}</h3>
                <div class="faq-content">
                    <p>{{faq.description}}</p>
                </div>
                
                <div class="faq-toggle"><img src="{% static 'img/business-development/feather-arrow-up.png' %}"></div>
            </div>

            {% endfor %}
         
</div>
        </div>
        <img class="business-path" src="{% static 'img/business-development/path-business.png' %}">
    </div>
</div>

<div class="best-spot">
    <div class="container-fluid">
        {% for land in lands %}
        <div class="row">
            <div class="col-md-5">
                <h2>{{land.heading}}</h2>
                <ul>
                    {% for feature in land.land_spot_feature.all %}
                    {% image feature.image width-1024 as iconimg %}

                    <li><img src="{{iconimg.url}}" />{{feature.text}}</li>
                    {% endfor %}

                </ul>
                <a class="read-more mobile-hide" href="{{land.link_page.url}}"> {{land.button_text}}  <img src="{% static 'img/arrow.svg' %}"></a>
            </div>
            <div class="col-md-7">
                <div id="best-spot-slider" class="carousel slide" data-bs-ride="carousel">      
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                            {% for singleland in singlelands %}
                                
                                <div class="col-md-6">
                                    {% image singleland.main_image  width-1024 as mainimg %}
                                    <img src="{{mainimg.url}}" class="d-block w-100" alt="" />
                        
                                    <div class="carousel-caption-1 d-md-block">
                                        <h5>{{singleland.heading}}</h5>
                                        <a href="">View on map</a>
                                    </div>
                                </div>
                                {% endfor %}
                    
                            </div>
                        </div>
    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#best-spot-slider" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"><img src="{% static 'img/business-development/feather-arrow-up.png' %}" /></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#best-spot-slider" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><img src="{% static 'img/business-development/feather-arrow-up.png' %}" /></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                 <a class="read-more mobile-show" href="">Get Assistance  <img src="assets/img/arrow.svg"></a>
            </div>
        {% endfor %}
        </div>
        <img class="u-path" src="{% static 'img/business-development/u-path.svg' %}">
    </div>
</div>


</main>

<style>
    body {
        background-color: #054651;
    }
    main.main {
    overflow: visible;
}
</style>




<div class="container">
 {% include 'includes/body.html' %}
</div>
{% endblock %}