{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}

{% block title %}Home Page{% endblock %}
{% block main %}


<main class="main">
      
<div class="hero-section" style="background-image:url({% static 'img/hero-bg.jpg' %});">
	<div class="notice" data-aos="zoom-in" data-aos-delay="100">
    {%if  page.notice%}
		<div class="alert">
      
			<span class="closebtn" onclick="this.parentElement.style.display='none';">Hide</span> 
      {{ page.notice|linebreaksbr }}
        
		</div>
    {%endif%}
	</div>
	<div class="container-fluid">
	    		<div class="img-gallery mobile-show" style="background-image:url({% static 'img/top-wave.png' %});" >
              <div class="portfolio-content h-100" data-aos="fade-up" data-aos-delay="100">
                <a href="{% static 'img/hero-imgs/2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                    <img src="{% static 'img/hero-imgs/2.jpg'%}" class="img-fluid" alt="">
                    <button data-toggle="modal" data-target="searchModal"><i class="material-icons">search</i></button>
                </a>
              </div>
              <div class="portfolio-content h-100" data-aos="fade-up" data-aos-delay="200">
                <a href="{% static 'img/hero-imgs/4.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox">
                    <img src="{% static 'img/hero-imgs/4.jpg' %}" class="img-fluid" alt="">
                    <button data-toggle="modal" data-target="searchModal"><i class="material-icons">search</i></button>
                </a>
              </div>
              </div>
	    <div class="hero-content">

      <!--Headings section-->
			<p class="subheading" data-aos="fade-up" data-aos-delay="100">{{ page.county_text|linebreaksbr }}</p>
			<h1 data-aos="fade-up" data-aos-delay="200">Where harmony <span class="font">LIVES</span> and <span class="font">SINGS</span> !</h1>
			</div>
			
			<div class="img-gallery img-gallery-2 mobile-show" style="background-image:url({% static 'img/bottom-wave.png' %});" >
              {% for mg in page.home_hero_images.all %}
              {% image mg.image width-1024 as hero_img %}
              <div class="portfolio-content h-100" data-aos="fade-up" data-aos-delay="100">
                <a href="{{hero_img.url}}" data-gallery="portfolio-gallery-app" class="glightbox">
                    <img src="{{hero_img.url}}" class="img-fluid" alt="">
                    <button data-toggle="modal" data-target="searchModal"><i class="material-icons">search</i></button>
                </a>
              </div>
              {% endfor %}
            
             </div>


      <!--Web images show -->
			<div class="img-gallery mobile-hide" style="background-image:url({% static 'img/wave-bg.png' %});" >

        {% for mg in page.home_hero_images.all %}
        {% image mg.image width-1024 as hero_img %}
              <div class="portfolio-content h-100" data-aos="fade-up" data-aos-delay="100">
                <a href="{{hero_img.url}}" data-gallery="portfolio-gallery-app" class="glightbox">
                    <img src="{{hero_img.url}}" class="img-fluid" alt="">
                    <button data-toggle="modal" data-target="searchModal"><i class="material-icons">search</i></button>
                </a>
              </div>
            {% endfor %}
            
			</div>
	</div>          
</div>
      
    <div class="quick-links">
      <div class="container-fluid" style="background-image: url('{% if page.page_links_bgimage %}
          {% image page.page_links_bgimage width-1024 as img %}{{ img.url }}
          {% else %}{% static 'img/quick-bg.png' %}{% endif %}');">


              <img src="{% static 'img/cup.svg' %}" data-aos="fade-in" data-aos-delay="200">
              <div class="row">
                  <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
                      <h2 class="font-57">{{page.quick_links_text}}</h2>
                  </div>
                  <div class="col-md-9">
                      <div class="links-grid">
                          <div class="row">
                    <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                            "loop": true,
                            "speed": 600,
                            "autoplay": {
                            "delay": 5000
                            },
                            "slidesPerView": "auto",
                            "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                            },
                           "navigation": {
                                "nextEl": ".swiper-button-next",
                                "prevEl": ".swiper-button-prev",
                                "clickable": true
                              },
                            "breakpoints": {
                            "320": {
                            "slidesPerView": 3,
                            "spaceBetween": 17
                            },
                            "1200": {
                            "slidesPerView": 5,
                            "spaceBetween": 10
                            }
                            }
                        }
                    </script>
                          <div class="swiper-wrapper">
                                  {% for link in page.home_page_links.all %}
                                        {% image link.image width-1024 as linkimg %}
                                        <div class="swiper-slide">
                                              <div class="icon-box col" data-aos="fade-up" data-aos-delay="200">
                                                  <img src="{{linkimg.url}}">
                                                  <p>{{link.link_text}}</p>
                                              </div>
                                        </div>
                                  {% endfor %}
                
                            </div>
                          <div class="swiper-button-next"><img src="{% static 'img/next.svg' %}"></div>
                          <div class="swiper-button-prev"><img src="{% static 'img/prev.svg' %}"></div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <!--Parks -->
      <div class="parks">
          <div class="container-fluid" style="background-image: url('{% if page.park_bgimage %}{% image page.park_bgimage width-1024 as img %}{{ img.url }}{% else %}{% static "img/school-min.jpg" %}{% endif %}');">

              <div class="row">
                  <div class="col-md-12">
                      <ul>
                        {% for link in  page.home_parks.all %}
                          <li data-aos="fade-up" data-aos-delay="200">
                          <a href="{{link.link_page.url}}">{{link.text}} <img src="{% static 'img/arrow.svg' %}"></a>
                          </li>
                          {%endfor%}
                        
                      </ul>
                  </div>
              </div>
              <img class="polygon-icon" src="{% static 'img/Polygon.svg' %}">
          </div>
      </div>
      

      <!--News-->

      <div class="latest-news recent-posts">
          <div class="container-fluid">
              <div class="row top-row">
                  <div class="col-md-6">
                      <h2 class="font-57">{{page.news_heading}}</h2>
                  </div>
                  <div class="col-md-6">
                      <a class="read-more mobile-hide" href="{{page.read_more_link_page.url}}">
                        <span>{{page.news_button_text}}  <img src="{% static 'img/arrow.svg' %}"></span></a>
                  </div>
              </div>
              <div class="row bottom-row">
                {% for news in news_details %}
                  {% if forloop.first %}
                          <div class="col-md-4">
                            <article>
                              {% image news.main_headline_image width-1024 as latestnews %}
                            
                              <div class="post-img">
                                <img src="{{ latestnews.url }}" alt="" class="img-fluid">
                              </div>
                              <h2 class="title font-27">
                              <a href="{% pageurl news %}">{{ news.main_headline_text }}</a>
                              </h2>
                            
                              <div class="d-flex align-items-center">
                                <div class="post-meta">
                                  <p class="post-date">

                                  <time datetime="{{ news.date|date:'Y-m-d' }}">{{ news.date }}</time>
                                  </p>
                                </div>
                              </div>
                            
                            </article>
                          </div>

                  <div class="col-md-8">
                        <div class="row">
                          {% else %}
                            <div class="col-md-6">
                              <article>
                                <h2 class="title font-27">
                                <a href="{% pageurl news %}">{{ news.main_headline_text }}</a>
                                </h2>
                              
                                <div class="d-flex align-items-center">
                                  <div class="post-meta">
                                    <p class="post-date">
                                      <time datetime="{{ news.date|date:'Y-m-d' }}">{{ news.date }}</time>
                                    </p>
                                  </div>
                                </div>
                              </article>
        
                              
                        </div>
                        {% endif%}
                        {% endfor%}
                 
                      <a class="read-more mobile-show" href="{{page.read_more_link_page.ur}}">
                        {{page.news_button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                  </div>
              </div>
          </div>
      </div>


      <!--Evenets -->
      
      <div class="latest-news events">
          <div class="container-fluid">
              <div class="row top-row">
                  <div class="col-md-6">
                      <h2 class="font-57">{{page.event_heading}}</h2>
                  </div>
                  <div class="col-md-6">
                    <a class="read-more mobile-hide" href="{{page.more_event_link_page.url}}">{{page.upcoming_event_button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                </div>
              </div>
              <div class="row bottom-row">
                <div class="col-md-8">
                  {% for events in events_details %}
                    <div class="upcoming-events">
                            <p class="event-date">{{ events.event_date|date:"M j, Y" }}</p>
                            <h2 class="font-27"><a href="">{{ events.heading }}</a></h2>
                          <a class="event-btn" href="{% pageurl events %}"><img src="{% static 'img/business-development/feather-arrow-up.png' %}"></a>
                    </div>
                  {% endfor %}
                     <a class="read-more mobile-show" href="">More Events <img src="{% static 'img/arrow.svg' %}"></a>
                </div>

                {% if latest_event %}
                <div class="col-md-4">
                  <div class="feature-img">
                    {% image latest_event.event_bg_image width-1024 as event_bg_image %}
                    <img src="{{event_bg_image.url}}">
                      {% comment %} <img src="assets/img/events/event-img.jpg"> {% endcomment %}
                      <div class="date"> {{ latest_event.event_date|date:"j M" }} <span class="year">{{ latest_event.event_date|date:"Y" }}</span></div>
                      <div class="feature-title">
                          <h2>{{latest_event.heading}}</h2>
                      </div>
                  </div>
              </div>
          </div>
          {%endif %}



        </div>
    </div>

      
      <div class="history">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-7">
                    {% image page.history_bg_image  width-1024 as history_bg_img %}
                      <img src="{{history_bg_img.url}}">
                  </div>
                  <div class="col-md-5">
                      <div class="history-content">
                      <img class="path mobile-show" src="{{history_bg_img.url}}">
                      <h2>Since 1927</h2>
                      
                      <h3 class="font-57"> <span class="font">{{page.history_heading}}</span></h3>
                      <p>{{page.history_text}}</p>
                      <a class="read-more" href="{{page.history_link_page.url}}">
                        {{page.history_page_button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="public-servants">
          <img class="big-wave mobile-hide" src="{% static 'img/big-wave.png' %}">
          <img class="big-wave mobile-show" src="{% static 'img/mobile-wave.png' %}">
          <img class="path mobile-hide" src="{% static 'img/path.png' %}">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                      <h2 class="font-57">{{page.team_heading}}</h2>
                      <p class="mobile-hide">{{page.team_text}} </p>
                      <a class="read-more" href="{{page.team_link_page.url}}"
                      >{{page.team_page_button_text}} <img src="{% static 'img/arrow.svg' %}"></a>
                  </div>
                  <div class="col-md-6">
                      <div id="slider">
    <div class="slider-wrap">
      <div id="intro-slider">
        {%  for team in teams%}
        {% image team.image width-1024 as memberimage %}


        <div class="intro-slide" data-class="1" data-position="1">
          <div class="poster-box">
              <img src="{{memberimage.url}}" class="img-fluid" alt="">
              <div class="name-position">
                  <h2>{{team.name}}</h2>
                  <p>{{team.designation}}</p>
              </div>
          </div>
        </div>

        {% endfor %}
       
      </div>
      <span id="slider-next">
        <img src="{% static 'img/arrow-servant.png' %}" alt="arrow-image">
      </span>
    </div>
  </div>
  <p class="mobile-show">We value the input of our community and the officials elected are in place to serve the people of Harmony to their best abilities. </p>
  
                  </div>
              </div>
          </div>
      </div>
    
  </main>
  
 <style>
     @media(max-width:767px){
     .header {
background-color: transparent;
position: absolute;
width: 100%;
padding-top:30px;
}
.header .branding .col-right {
        gap: 10px;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: transparent;
        position:unset;
    }
    .header .branding .col-right::before{
        display:none;
    }
     }
 </style>


<script>
    (function ($) {
  $.fn.stack_slider = function (options) {
    // Sldier core functions
    $("#slider-next").click(function () {
      var total = $(".intro-slide").length;
      $("#intro-slider .intro-slide:first-child")
        .hide()
        .appendTo("#intro-slider")
        .fadeIn();
      $.each($(".intro-slide"), function (index, dp_item) {
        $(dp_item).attr("data-position", index + 1);
      });
    });
    $("body").on(
      "click",
      "#intro-slider .intro-slide:not(:first-child)",
      function () {
        var get_slide = $(this).attr("data-class");
        console.log(get_slide);
        $("#intro-slider .intro-slide[data-class=" + get_slide + "]")
          .hide()
          .prependTo("#intro-slider")
          .fadeIn();
        $.each($(".intro-slide"), function (index, dp_item) {
          $(dp_item).attr("data-position", index + 1);
        });
      }
    );
    // Drag
    $.fn.swipe = function (callback) {
      var touchDown = false,
        originalPosition = null,
        $el = jQuery(this);

      function swipeInfo(event) {
        var x = event.originalEvent.pageX,
          y = event.originalEvent.pageY,
          dx;

        dx = x > originalPosition.x ? "right" : "left";

        return {
          direction: {
            x: dx
          },
          offset: {
            x: x - originalPosition.x
          }
        };
      }

      $el.on("touchstart mousedown", function (event) {
        touchDown = true;
        originalPosition = {
          x: event.originalEvent.pageX,
          y: event.originalEvent.pageY
        };
      });

      $el.on("touchend mouseup", function () {
        touchDown = false;
        originalPosition = null;
        flag = true;
      });

      $el.on("touchmove mousemove", function (event) {
        if (!touchDown) {
          return;
        }
        var info = swipeInfo(event);
        callback(info.direction, info.offset);
      });

      return true;
    };
    // disabel image drag
    $("#slider img").on("dragstart", function (event) {
      event.preventDefault();
    });
    // Slider Methods
    // This is the easiest way to have default options.
    var settings = $.extend(
      {
        // These are the defaults.
        color: "transparent",
        background: "transparent",
        autoPlay: true,
        autoPlaySpeed: 3000,
        dots: true,
        arrows: true,
        drag: true,
        direction: "horizontal"
      },
      options
    );

    // dots
    if (settings.dots !== true) {
      $("#dp-dots").hide();
    }
    // drag
    if (settings.drag == true) {
      // trigger next prev on drag
      var flag = true;
      jQuery(".intro-slide").swipe(function (direction, offset) {
        if (offset.x > 30 && flag) {
          flag = false;
          $("#slider-next").click();
        }
        if (offset.x < -30 && flag) {
          flag = false;
          $("#slider-prev").click();
        }
      });
    }
    // arrows
    if (settings.arrows !== true) {
      $("#slider-next, #slider-prev").hide();
    }
    // slider autoplay
    if (settings.autoPlay == true) {
      setInterval(function () {
        $("#slider-next").click();
      }, settings.autoPlaySpeed);
    }

    //slider direction
    if (settings.direction == "vertical") {
      $(".slider-wrap").addClass("vertical");
    }

    // stack_slider the collection based on the settings variable.
    return this.css({
      color: settings.color,
      background: settings.background
    });
  };
})(jQuery);

$("#slider").stack_slider({
  autoPlaySpeed: 6000,
  autoPlay: false,
  dots: true,
  arrows: true,
  drag: true,
  direction: "vertical"
});

</script>







<div class="container">
 {% include 'includes/body.html' %}
</div>
{% endblock %}
