{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags humanize %}
{% block title %}Meetings Agenda Page{% endblock %}
{% block main %}



<main class="main">
        
<div class="meeting-agendas about">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-3">
                    <div class="filters faq">
                        <div class="faq-container">
                            <div class="faq-item">
                                    <h2>Filters</h2>
                                <div class="faq-content">
                                    <div class="search-details">
                                    <form>
                                        <input type="text" placeholder="Town hall meeting date" class="form-control">
                                        <button><i class="material-icons">search</i></button>
                                    </form>
                                    <h2>Search by</h2>
                                        <form method="GET"  action="">
                                            <div class="search-by">
                                                {% for type in  meeting_types %}
                                                <input type="checkbox" 
                                                value="{{type.id}}" 
                                                name="meeting_types"
                                                {% if type.id in selected_meeting_types %}checked="checked"{% endif %}>
                                                {{type.name}}
                                                <br>
                                                {% endfor %}
                                                
                                            </div>
                                            <button type="submit">Filter</button>

                                        </form>
                                    
                                </div>
                            </div>
                            <div class="faq-toggle"><img src="{% static 'img/business-development/feather-arrow-up.png' %}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
                    <div class="all-meetings">    
                        <h2>{{page.meeting_text}}</h2>
                        <ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <li data-filter="*" class="filter-active">All Meetings</li>
                            <li data-filter=".filter-upcoming">Upcoming</li>
                            <li data-filter=".filter-past">Past</li>
                            <li data-filter=".filter-year">2023</li>
                        </ul>
                    </div>
                        <div class="row gy-4 isotope-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1750.38px;">
                            {% for meeting in meetings %}
                            <div class="col-lg-12 col-md-12 portfolio-item isotope-item filter-upcoming" style="position: absolute; left: 0px; top: 0px;">
                            <p class="upcoming-event">UPCOMING EVENT</p>  
                            <div class="metting-content">
                                <div class="metting-info">
                                <h4>AGENDA: {{meeting.meeting_description}}</h4>
                                <span class="time-date">
                                    <div class="clock-icon">
                                        <img src="{% static 'img/time.svg' %}">
                                    </div>
                                    <div class="meeting-date-time">
                                        <p>{{ meeting.meeting_date|date:"M j, Y" }}</p>
                                        <p>{{ meeting.meeting_start_time|time:"h:i A" }} - {{ meeting.meeting_end_time|time:"h:i A" }}</p>
                                    </div>
                                </span>
                                </div>
                                <div class="view-details">
                                    <a href="#">
                                        <span class="img">
                                            <img src="{% static 'img/download.svg' %}">
                                        </span>
                                        <span>Download Details</span>
                                    </a>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                    

            

                        

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="submit-photo hold-event">
     <div class="container-fluid" style="background-image:url({% static 'img/quick-bg.png' %});">
        <div class="row">
            <div class="col-md-4">
                {% image page.bottom_image_one width-1024 as btm_one_image %}
                <img src="{{btm_one_image.url}}">
            </div>
            <div class="col-md-4">
                <div class="submit-img">
                    <h2>{{page.bottom_heading}}</h2>
                    
                    <form>
                        <input type="email" placeholder="Enter your email to subscribe" class="form-control">
                        <a class="read-more history-btn" href=""><img src="{% static 'img/feather-arrow-up.svg' %}"></a>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                {% image page.bottom_image_two width-1024 as btm_two_image %}
                <img class="mobile-hide" src="{{btm_two_image.url}}" />
               
            </div>
        </div>
    </div>
</div>
      
    </main>

<style>
    body {
        background-color: #054651;
    }
    .portfolio-item.isotope-item {
        display: block;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $(".faq-toggle").click(function(){
        $(".meeting-agendas").toggleClass("overlay");
    });
});
</script>




<div class="container">
 {% include 'includes/body.html' %}
</div>
{% endblock %}